<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Static Webpage Maker</h1>
        <nav>
            {% for page in pages %}
                <a href="{{ page.output }}">{{ page.title }}</a>
            {% endfor %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Static Webpage Maker</p>
    </footer>
</body>
</html>
